<div class="shadow p-5">
    <div>
        <div class="d-flex justify-content-between">
            <div>
                <p>Firstname</p>
            </div>
            <div>
                <input value="{{bahavior_obj.firstname}}" class="form-control" type="text">
            </div>
        </div>
        
        <div class="d-flex justify-content-between">
            <div>
                <p>
                    Lastname
                </p>
            </div>
            <div>
                <input value="{{bahavior_obj.lastname}}" class="form-control" type="text">
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <p>
                    Age
                </p>
            </div>
            <div>
                <input value="{{bahavior_obj.age}}" class="form-control" type="text">
            </div>
        </div>

        <div class="d-flex justify-content-between">
            <div>
                <p>
                    Email
                </p>
            </div>
            <div>
                <input value="{{bahavior_obj.email}}" class="form-control" type="text">
            </div>
        </div>
        <div>
            <button (click)="EditBtn()" class="btn btn-success">Edit</button>
        </div>
    </div>
</div>