<p>eventparent works!</p>
<div class="container">
    <div class="col-5 mx-auto shadow p-5 ">
        <div class="">
            <b>This is the parent component</b>
        </div>
        <input type="text" class="form-control p-2 my-3" [(ngModel)]="text">
        <div class="text-center">
            <button (click)="send()" class="btn btn-info">Send</button>
        </div>
        <div>
            <span>Receiver:</span>
            <span class="mx-2 fw-bold">{{data}}</span>
        </div>
    </div>
</div>
<app-eventchild [receivetext]="newtext" (eventemit)="receiveresponse($event)"></app-eventchild>
